.info {
    z-index: 1;
    display: block;
    margin: auto;
    padding: 40px 40px 30px;
    border-radius: 5px;
    border: #000000 1px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
    text-align: center;
}

.avatar {
    display: block;
    margin: 0 auto 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: rgb(0, 0, 0) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, inset rgba(0, 0, 0, 0.4) 0px 3px 2px;
    overflow: hidden;
    background-image: url("../php/discord.php?image");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto, 100%;
}

.name {
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.seperator_hor {
    visibility: hidden;
    margin-left: 20px;
    float: left;
    height: 0px;
}

.seperator_vert {
    margin-top: 20px;
    visibility: hidden;
    width: 0px;
}